[build]
builder = "dockerfile"
dockerfilePath = "pgpool/Dockerfile"
watchPatterns = ["pgpool/**"]

[deploy]
restartPolicyType = "always"

[deploy.multiRegionConfig.us-west2]
numReplicas = 2

[deploy.multiRegionConfig.us-east4-eqdc4a]
numReplicas = 1
