[build]
builder = "dockerfile"
dockerfilePath = "pgpool/Dockerfile"
watchPatterns = ["pgpool/**"]

[deploy]
restartPolicyType = "always"
regions = { us-west1 = { replicas = 2 }, us-east4 = { replicas = 1 } }
